# Python
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Pipenv
Pipfile.lock

# Virtual environment (optional, if using a local virtualenv)
Pipfile/
.venv/

# IDEs and editors
.vscode/
.idea/

# ChromeDriver and WebDriver
chromedriver/
webdriver/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Mac OS X
.DS_Store

# Windows
Thumbs.db

# Cache files
.cache/
