[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
instagrapi = "*"
pillow = "*"
webdriver-manager = "*"
selenium-stealth = "*"
setuptools = "*"
python-dotenv = "*"
undetected-chromedriver = "*"

[dev-packages]

[requires]
python_version = "3.13"
